<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">
   
    <joint name="laser_lidar" type="fixed">
        <parent link="body" />
        <child link="lidar" />
        <origin xyz="0 0 0.103 " rpy="0 -0 0" />
    </joint>

    <link name="lidar">
        <visual>
            <origin xyz="0.12499999999999995837 -0.12389012757796005748 -0.103" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://roboto/robo_description/urdf/chassi/lidar.stl" />
            </geometry>
            <material name="lidar_material">
                <color rgba="1 0 0 1.0" />
            </material>
        </visual>

        <collision>
            <origin xyz="0.12499999999999995837 -0.12389012757796005748 -0.103" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://roboto/robo_description/urdf/chassi/lidar.stl" />
            </geometry>
        </collision>

        <inertial>
            <mass value="0.1" />
            <inertia ixx="0.005" ixy="0.0" ixz="0.0" iyy="0.005" iyz="0.0" izz="0.005" />
        </inertial>
    </link> 
    


</robot>
